body {
    font-size: 22px;
    line-height: 34px;
}

nav {
    background-color: #FD739C;
}

header {
    background-color: #FD739C;
    color: #FFFFFF;
    padding: 144px 0;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
}

main {
    margin-top: 80px;
}
